[package]
name = "proto_pdk_api"
version = "0.2.1"
edition = "2021"
license = "MIT"
description = "Core APIs for creating proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
anyhow = "1.0.71"
semver = { workspace = true, features = ["serde"] }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
