[package]
name = "warpgate"
version = "0.17.1"
edition = "2021"
license = "MIT"
description = "Download, resolve, and manage Extism WASM plugins."
repository = "https://github.com/moonrepo/proto"

[dependencies]
system_env = { version = "0.6.0", path = "../system-env" }
warpgate_api = { version = "0.10.0", path = "../warpgate-api" }
extism = { workspace = true, features = ["http"] }
miette = { workspace = true }
once_cell = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true, features = ["json", "rustls-tls-native-roots"] }
schematic = { workspace = true, optional = true, features = ["schema"] }
scc = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
starbase_archive = { workspace = true }
starbase_utils = { workspace = true, features = ["glob", "net"] }
starbase_styles = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

# Enabling certs for extism!
ureq = { version = "2.10.1", features = ["native-certs"] }

# Temporary fix for broken builds!
regalloc2 = "=0.9.3"

[dev-dependencies]
starbase_sandbox = { workspace = true }

[features]
default = []
schematic = ["dep:schematic", "system_env/schematic", "warpgate_api/schematic"]
