[package]
name = "proto_pdk"
version = "0.11.2"
edition = "2021"
license = "MIT"
description = "A plugin development kit for creating proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_pdk_api = { version = "0.11.2", path = "../pdk-api" }
anyhow = "1.0.75"
extism-pdk = { workspace = true }
serde = { workspace = true }
