[package]
name = "proto_pdk"
version = "0.17.1"
edition = "2021"
license = "MIT"
description = "A plugin development kit for creating proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_pdk_api = { version = "0.17.0", path = "../pdk-api" }
warpgate_pdk = { version = "0.2.1", path = "../warpgate-pdk" }
extism-pdk = { workspace = true }
rustc-hash = { workspace = true }
serde = { workspace = true }
