[workspace]
resolver = "3"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
anyhow = "1.0.97"
async-trait = "0.1.88"
clap = "4.5.36"
clap_complete = "4.5.48"
compact_str = { version = "0.9.0", default-features = false, features = [
    "serde",
] }
dirs = "6.0.0"
extism = ">=1.6.0" # Lower for consumers
extism-pdk = "1.4.0"
http-cache-reqwest = "0.15.1"
human-sort = "0.2.2"
indexmap = "2.9.0"
iocraft = "0.7.8"
# iocraft = { git = "https://github.com/ccbrown/iocraft.git", branch = "main" }
miette = "7.6.0"
once_cell = "1.21.3"
regex = { version = "1.11.1", default-features = false, features = ["std"] }
reqwest = { version = "0.12.15", default-features = false, features = [
    "charset",
    "http2",
    "macos-system-configuration",
] }
reqwest-middleware = { version = "0.4.2", default-features = false, features = [
    "charset",
    "http2",
] }
reqwest-netrc = "0.1.3"
rustc-hash = "2.1.1"
scc = "2.3.3"
schematic = { version = "0.18.4", default-features = false }
semver = { version = "1.0.26", features = ["serde"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
sha2 = "0.10.8"
shell-words = "1.1.0"
starbase = { version = "0.10.3" }
starbase_archive = { version = "0.10.4", features = [
    "gz",
    "miette",
    "tar-bz2",
    "tar-gz",
    "tar-xz",
    "tar-zstd",
    "zip",
    "zip-deflate",
] }
starbase_console = { version = "0.6.8", features = ["miette", "ui"] }
starbase_sandbox = { version = "0.9.2" }
starbase_shell = { version = "0.7.4", features = ["miette"] }
starbase_styles = { version = "0.6.1" }
starbase_utils = { version = "0.11.8", default-features = false, features = [
    "json",
    "miette",
    "net",
    "toml",
] }
thiserror = "2.0.12"
tokio = { version = "1.44.2", features = ["full", "tracing"] }
tracing = "0.1.41"
uuid = { version = "1.16.0", features = ["v4"] }

[profile.dist]
inherits = "release"
lto = "thin"
