[workspace]
resolver = "2"
# members = ["crates/*"]
# default-members = ["crates/cli"]
members = ["crates/core2", "crates/pdk", "crates/pdk-api"]

[workspace.dependencies]
cached = "0.44.0"
clap = "4.3.11"
clap_complete = "4.3.2"
convert_case = "0.6.0"
extism = "0.4.0"
extism-pdk = "0.3.3"
human-sort = "0.2.2"
miette = "5.9.0"
once_cell = "1.18.0"
once_map = "0.4.6"
regex = "1.9.0"
reqwest = { version = "0.11.18", default-features = false, features = [
	"rustls-tls",
] }
rustc-hash = "1.1.0"
semver = "1.0.17"
serde = { version = "1.0.167", features = ["derive"] }
serde_json = "1.0.100"
sha2 = "0.10.7"
starbase_sandbox = { version = "0.1.6" }
starbase_styles = "0.1.12"
starbase_utils = { version = "0.2.14", default-features = false, features = [
	"json",
	"toml",
] }
thiserror = "1.0.40"
tokio = { version = "1.29.1", features = ["full", "tracing"] }
tracing = "0.1.37"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.7"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.71.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"x86_64-unknown-linux-gnu",
	"x86_64-apple-darwin",
	"aarch64-apple-darwin",
	"x86_64-pc-windows-msvc",
]
# The installers to generate for each app
installers = []

[profile.dist]
inherits = "release"
lto = "thin"
