[workspace]
resolver = "3"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
anyhow = "1.0.99"
async-trait = "0.1.89"
clap = "4.5.54"
clap_complete = "4.5.65"
compact_str = { version = "0.9.0", default-features = false, features = [
    "serde",
] }
derive_setters = "0.1.8"
dirs = "6.0.0"
extism = ">=1.6.0" # Lower for consumers
extism-pdk = "1.4.1"
http-cache-reqwest = "0.16.0"
human-sort = "0.2.2"
indexmap = "2.13.0"
iocraft = "0.7.16"
# iocraft = { git = "https://github.com/ccbrown/iocraft.git", branch = "main" }
miette = "7.6.0"
oci-client = "0.15.0"
once_cell = "1.21.3"
docker_credential = { version = "1.3.2" }
regex = { version = "1.12.2", default-features = false, features = ["std"] }
reqwest = { version = "0.12.26", default-features = false, features = [
    "charset",
    "http2",
    "macos-system-configuration",
    # We don't use openssl but its required for musl builds
    "native-tls-vendored",
] }
reqwest-middleware = { version = "0.4.2", default-features = false, features = [
    "charset",
    "http2",
] }
reqwest-netrc = "0.1.3"
rmcp = { version = "0.11.0", default-features = false, features = [
    "base64",
    "macros",
] }
rustc-hash = "2.1.1"
scc = "3.4.14"
schemars = "1.2.0"
schematic = { version = "0.19.1", default-features = false }
semver = { version = "1.0.27", features = ["serde"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.49"
sha2 = "0.10.9"
shell-words = "1.1.1"
starbase = { version = "0.10.8" }
starbase_archive = { version = "0.12.1", features = [
    "gz",
    "miette",
    "tar-all",
    "zip-all",
] }
starbase_console = { version = "0.6.21", features = ["miette", "ui"] }
starbase_id = { version = "0.3.1", features = ["miette", "schematic"] }
starbase_sandbox = { version = "0.10.3" }
starbase_shell = { version = "0.10.5", features = ["miette"] }
starbase_styles = { version = "0.6.5" }
starbase_utils = { version = "0.12.3", default-features = false, features = [
    "json",
    "miette",
    "net",
    "toml",
] }
thiserror = "2.0.18"
tokio = { version = "1.49.0", features = ["full", "tracing"] }
toml_edit = "0.23.9"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", default-features = false }
uuid = { version = "1.19.0", features = ["v4"] }

[profile.dist]
inherits = "release"
lto = "thin"
