[workspace]
resolver = "2"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
cached = "0.44.0"
clap = "4.3.21"
clap_complete = "4.3.2"
convert_case = "0.6.0"
extism = "0.4.0"
extism-pdk = "0.3.3"
human-sort = "0.2.2"
miette = "5.10.0"
once_cell = "1.18.0"
once_map = "0.4.7"
regex = "1.9.3"
reqwest = { version = "0.11.18", default-features = false, features = [
	"rustls-tls",
] }
semver = "1.0.18"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"
sha2 = "0.10.7"
starbase_archive = { version = "0.2.0", features = [
	"tar-gz",
	"tar-xz",
	"zip",
	"zip-deflate",
] }
starbase_sandbox = { version = "0.1.8" }
starbase_styles = "0.1.13"
starbase_utils = { version = "0.2.20", default-features = false, features = [
	"json",
	"toml",
] }
thiserror = "1.0.44"
tokio = { version = "1.30.0", features = ["full", "tracing"] }
tracing = "0.1.37"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.1.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"x86_64-unknown-linux-gnu",
	"x86_64-apple-darwin",
	"aarch64-apple-darwin",
	"x86_64-pc-windows-msvc",
]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Path that installers should place binaries in
install-path = "~/.proto/bin"

[profile.dist]
inherits = "release"
lto = "thin"
