[workspace]
resolver = "2"
members = ["crates/*", "plugins/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
cached = "0.44.0"
clap = "4.3.8"
clap_complete = "4.3.1"
convert_case = "0.6.0"
miette = "5.9.0"
once_cell = "1.18.0"
regex = "1.8.4"
reqwest = { version = "0.11.18", default-features = false, features = ["rustls-tls"] }
rustc-hash = "1.1.0"
semver = "1.0.17"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.99"
starbase_sandbox = { version = "0.1.5" }
starbase_utils = { version = "0.2.13", default-features = false, features = ["json", "toml"] }
thiserror = "1.0.40"
tokio = { version = "1.28.2", features = ["full", "tracing"] }
tracing = "0.1.37"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.6"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.69.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-apple-darwin", "aarch64-apple-darwin", "x86_64-pc-windows-msvc"]
# The installers to generate for each app
installers = []

[profile.dist]
inherits = "release"
lto = "thin"
