[workspace]
resolver = "2"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
anyhow = "1.0.79"
cached = "0.47.0"
clap = "4.4.12"
clap_complete = "4.4.6"
convert_case = "0.6.0"
dirs = "5.0.1"
extism = "0.5.5"
extism-pdk = "0.3.4"
human-sort = "0.2.2"
miette = "5.10.0"
once_cell = "1.19.0"
once_map = "0.4.13"
regex = { version = "1.10.2", default-features = false, features = ["std"] }
reqwest = { version = "0.11.23", default-features = false }
schematic = { version = "0.13.0", default-features = false }
semver = "1.0.21"
serde = { version = "1.0.194", features = ["derive"] }
serde_json = "1.0.110"
sha2 = "0.10.8"
shell-words = "1.1.0"
starbase = "0.2.12"
starbase_archive = { version = "0.2.5", features = [
	"tar-gz",
	"tar-xz",
	"tar-zstd",
	"zip",
	"zip-deflate",
] }
starbase_events = "0.2.2"
starbase_sandbox = { version = "0.1.12" }
starbase_styles = "0.1.16"
starbase_utils = { version = "0.3.11", default-features = false, features = [
	"json",
	"toml",
] }
thiserror = "1.0.56"
tokio = { version = "1.35.1", features = ["full", "tracing"] }
tracing = "0.1.40"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.6.0"
# CI backends to support
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"aarch64-unknown-linux-gnu",
	"x86_64-unknown-linux-gnu",
	"aarch64-apple-darwin",
	"x86_64-apple-darwin",
	"aarch64-unknown-linux-musl",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
# The installers to generate for each app
installers = []
# Path that installers should place binaries in
install-path = "~/.proto/bin"
# Publish jobs to run in CI
pr-run-mode = "plan" # "upload"
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]

[workspace.metadata.dist.github-custom-runners]
aarch64-unknown-linux-gnu = "buildjet-4vcpu-ubuntu-2204-arm"
aarch64-unknown-linux-musl = "buildjet-4vcpu-ubuntu-2204-arm"

[profile.dist]
inherits = "release"
lto = "thin"
