[workspace]
resolver = "2"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
anyhow = "1.0.94"
async-trait = "0.1.83"
clap = "4.5.21"
clap_complete = "4.5.38"
compact_str = { version = "0.8.0", default-features = false, features = [
    "serde",
] }
dirs = "5.0.1"
extism = ">=1.6.0" # Lower for consumers
extism-pdk = "1.3.0"
http-cache-reqwest = "0.15.0"
human-sort = "0.2.2"
indexmap = "2.7.0"
iocraft = "0.4.1"
miette = "7.4.0"
once_cell = "1.20.2"
regex = { version = "1.11.1", default-features = false, features = ["std"] }
reqwest = { version = "0.12.9", default-features = false, features = [
    "charset",
    "http2",
    "macos-system-configuration",
] }
reqwest-middleware = { version = "0.4.0", default-features = false, features = [
    "charset",
    "http2",
] }
reqwest-netrc = "0.1.2"
rustc-hash = "2.1.0"
scc = "2.2.5"
schematic = { version = "0.17.7", default-features = false }
semver = { version = "1.0.23", features = ["serde"] }
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.133"
sha2 = "0.10.8"
shell-words = "1.1.0"
starbase = { version = "0.9.6" }
starbase_archive = { version = "0.9.0", features = [
    "gz",
    "miette",
    "tar-bz2",
    "tar-gz",
    "tar-xz",
    "tar-zstd",
    "zip",
    "zip-deflate",
] }
starbase_console = { path = "../starbase/crates/console", features = ["ui"] }
starbase_events = { version = "0.6.3" }
starbase_sandbox = { version = "0.8.0" }
starbase_shell = { version = "0.6.7", features = ["miette"] }
starbase_styles = { version = "0.4.7" }
starbase_utils = { version = "0.9.1", default-features = false, features = [
    "json",
    "miette",
    "net",
    "toml",
] }
thiserror = "2.0.4"
tokio = { version = "1.42.0", features = ["full", "tracing"] }
tracing = "0.1.41"
uuid = { version = "1.11.0", features = ["v4"] }

[profile.dist]
inherits = "release"
lto = "thin"
