[workspace]
resolver = "2"
members = ["crates/*"]
default-members = ["crates/cli"]

[workspace.dependencies]
anyhow = "1.0.89"
async-trait = "0.1.83"
clap = "4.5.20"
clap_complete = "4.5.33"
dirs = "5.0.1"
extism = ">=1.6.0" # Lower for consumers
extism-pdk = "1.2.1"
human-sort = "0.2.2"
indexmap = "2.6.0"
miette = "7.2.0"
once_cell = "1.20.2"
regex = { version = "1.11.0", default-features = false, features = ["std"] }
reqwest = { version = "0.12.8", default-features = false, features = [
    "charset",
    "http2",
    "macos-system-configuration",
] }
rustc-hash = "2.0.0"
scc = "2.2.0"
schematic = { version = "0.17.5", default-features = false }
semver = { version = "1.0.23", features = ["serde"] }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
sha2 = "0.10.8"
shell-words = "1.1.0"
starbase = { version = "0.9.0" }
starbase_archive = { version = "0.8.7", features = [
    "gz",
    "miette",
    "tar-bz2",
    "tar-gz",
    "tar-xz",
    "tar-zstd",
    "zip",
    "zip-deflate",
] }
starbase_events = { version = "0.6.3" }
starbase_sandbox = { version = "0.7.4" }
starbase_shell = { version = "0.5.8", features = ["miette"] }
starbase_styles = { version = "0.4.4" }
starbase_utils = { version = "0.8.10", default-features = false, features = [
    "json",
    "miette",
    "net",
    "toml",
] }
thiserror = "1.0.64"
tokio = { version = "1.40.0", features = ["full", "tracing"] }
tracing = "0.1.40"
uuid = { version = "1.10.0", features = ["v4"] }

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.21.0"
# CI backends to support
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-unknown-linux-gnu",
    "x86_64-unknown-linux-gnu",
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "aarch64-unknown-linux-musl",
    "x86_64-unknown-linux-musl",
    "x86_64-pc-windows-msvc",
]
# The installers to generate for each app
installers = []
# Path that installers should place binaries in
install-path = ["$PROTO_HOME/bin", "~/.proto/bin"]
# Publish jobs to run in CI
pr-run-mode = "plan" # "upload"
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]

[workspace.metadata.dist.github-custom-runners]
aarch64-unknown-linux-gnu = "buildjet-4vcpu-ubuntu-2204-arm"
aarch64-unknown-linux-musl = "buildjet-4vcpu-ubuntu-2204-arm"

[profile.dist]
inherits = "release"
lto = "thin"
