[workspace]
members = ["cargo:."]

[dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.0"
# CI backends to support
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"aarch64-unknown-linux-gnu",
	"x86_64-unknown-linux-gnu",
	"aarch64-apple-darwin",
	"x86_64-apple-darwin",
	"aarch64-unknown-linux-musl",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
# The installers to generate for each app
installers = []
# Path that installers should place binaries in
install-path = ["$PROTO_HOME/bin", "~/.proto/bin"]
# Publish jobs to run in CI
pr-run-mode = "upload"
# Skip checking whether the specified configuration files are up to date
# allow-dirty = ["ci"]

[dist.github-custom-runners]
aarch64-unknown-linux-gnu = "buildjet-4vcpu-ubuntu-2204-arm"
aarch64-unknown-linux-musl = "buildjet-4vcpu-ubuntu-2204-arm"
