[package]
name = "proto_wasm_test"
version = "0.2.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
crate-type = ['cdylib']

[dependencies]
proto_pdk = { version = "0.2.0", path = "../pdk" }
extism-pdk = { workspace = true }
serde = { workspace = true }
