# Bump!

[package]
name = "proto_cli"
version = "0.11.2"
edition = "2021"
license = "MIT"
description = "A multi-language toolchain and version manager."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = ["language", "installer", "version-manager", "dependency-manager", "package-manager"]
categories = ["development-tools"]
readme = "../../README.md"

[package.metadata.release]
pre-release-replacements = [
	{ file = "../../version", search = "^(.+)$", replace = "{{version}}" },
	{ file = "../../CHANGELOG.md", search = "Unreleased", replace = "{{version}}" }
]

[lib]
name = "proto"
path = "src/lib.rs"

[[bin]]
name = "proto"
path = "src/bin.rs"

[dependencies]
proto_bun = { version = "0.10.0", path = "../bun" }
proto_core = { version = "0.11.1", path = "../core" }
proto_deno = { version = "0.10.0", path = "../deno" }
proto_go = { version = "0.10.0", path = "../go" }
proto_node = { version = "0.10.0", path = "../node" }
proto_rust = { version = "0.8.0", path = "../rust" }
proto_schema_plugin = { version = "0.6.0", path = "../schema-plugin" }
proto_wasm_plugin = { version = "0.1.0", path = "../wasm-plugin" }
async-recursion = "1.0.4"
clap = { workspace = true, features = ["derive", "env"] }
clap_complete = { workspace = true }
convert_case = { workspace = true }
dialoguer = "0.10.4"
dirs = "5.0.1"
futures = "0.3.28"
human-sort = "0.2.2"
indicatif = "0.17.5"
miette = { workspace = true }
reqwest = { workspace = true, features = ["stream"] }
rustc-hash = { workspace = true }
semver ={ workspace = true }
starbase = "0.1.12"
starbase_utils = { workspace = true }
strum = { version = "0.25.0", features = ["derive"] }
tokio = { workspace = true }
tracing = { workspace = true }

[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"

[dev-dependencies]
starbase_sandbox = { workspace = true }
