[package]
name = "proto_cli"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "A language agnostic version manager."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = ["language", "installer", "version-manager", "dependency-manager", "package-manager"]
categories = ["development-tools"]

[lib]
name = "proto"
path = "src/lib.rs"

[[bin]]
name = "proto"
path = "src/bin.rs"

[dependencies]
proto_core = { version = "0.1.1", path = "../core" }
proto_deno = { version = "0.1.0", path = "../deno" }
proto_node = { version = "0.1.1", path = "../node" }
proto_go = { version = "0.1.1", path = "../go" }
clap = { workspace = true, features = ["derive"] }
clap_complete = { workspace = true }
env_logger = "0.10.0"
human-sort = "0.2.2"
log = { workspace = true }
rustc-hash = { workspace = true }
tokio = { workspace = true }
toml = "0.7.0"
