# Bump!

[package]
name = "proto_cli"
version = "0.13.1"
edition = "2021"
license = "MIT"
description = "A multi-language toolchain and version manager."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = [
	"language",
	"installer",
	"version-manager",
	"dependency-manager",
	"package-manager",
]
categories = ["development-tools"]
readme = "../../README.md"

[package.metadata.release]
pre-release-replacements = [
	{ file = "../../version", search = "^(.+)$", replace = "{{version}}" },
	{ file = "../../CHANGELOG.md", search = "Unreleased", replace = "{{version}}" },
]

[lib]
name = "proto"
path = "src/lib.rs"

[[bin]]
name = "proto"
path = "src/bin.rs"

[dependencies]
proto_core = { version = "0.14.3", path = "../core" }
proto_schema_plugin = { version = "0.9.1", path = "../schema-plugin" }
proto_wasm_plugin = { version = "0.4.3", path = "../wasm-plugin" }
async-recursion = "1.0.4"
clap = { workspace = true, features = ["derive", "env"] }
clap_complete = { workspace = true }
convert_case = { workspace = true }
dialoguer = "0.10.4"
dirs = "5.0.1"
futures = "0.3.28"
human-sort = { workspace = true }
indicatif = "0.17.5"
miette = { workspace = true }
reqwest = { workspace = true, features = ["stream"] }
semver = { workspace = true }
serde = { workspace = true }
starbase = "0.2.0"
starbase_archive = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true }
strum = { version = "0.25.0", features = ["derive"] }
tokio = { workspace = true }
tracing = { workspace = true }

[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"

[dev-dependencies]
starbase_sandbox = { workspace = true }
