[package]
name = "proto_cli"
version = "0.26.5"
edition = "2021"
license = "MIT"
description = "A multi-language version manager, a unified toolchain."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = [
	"language",
	"installer",
	"version-manager",
	"dependency-manager",
	"package-manager",
]
categories = ["development-tools"]
readme = "../../README.md"
default-run = "proto"

[package.metadata.release]
pre-release-replacements = [
	{ file = "../../version", search = "^(.+)$", replace = "{{version}}" },
	{ file = "../../CHANGELOG.md", search = "Unreleased", replace = "{{version}}" },
]

[[bin]]
name = "proto"
path = "src/main.rs"

[[bin]]
name = "proto-shim"
path = "src/main_shim.rs"

[dependencies]
proto_core = { version = "0.26.11", path = "../core" }
proto_installer = { version = "0.1.1", path = "../installer" }
proto_pdk_api = { version = "0.12.3", path = "../pdk-api" }
proto_shim = { version = "0.2.6", path = "../shim" }
system_env = { version = "0.1.9", path = "../system-env" }
anyhow = { workspace = true }
chrono = "0.4.31"
clap = { workspace = true, features = ["derive", "env"] }
clap_complete = { workspace = true }
convert_case = { workspace = true }
dialoguer = "0.11.0"
dirs = { workspace = true }
human-sort = { workspace = true }
indicatif = "0.17.7"
miette = { workspace = true }
reqwest = { workspace = true, features = ["rustls-tls-native-roots"] }
semver = { workspace = true }
serde = { workspace = true }
starbase = { workspace = true }
starbase_archive = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
uuid = { version = "1.6.1", features = ["v4"] }

# For the shim binary
rust_json = "0.1.5"
sigpipe = "0.1.3"

# Force latest rustls
rustls = "0.21.9"
rustls-pemfile = "1.0.4"
rustls-webpki = "0.101.7"

[dev-dependencies]
starbase_sandbox = { workspace = true }
shared_child = "1.0.0"
