[package]
name = "proto_cli"
version = "0.4.0"
edition = "2021"
license = "MIT"
description = "A language agnostic version manager."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = ["language", "installer", "version-manager", "dependency-manager", "package-manager"]
categories = ["development-tools"]
readme = "../../README.md"

[lib]
name = "proto"
path = "src/lib.rs"

[[bin]]
name = "proto"
path = "src/bin.rs"

[dependencies]
proto_bun = { version = "0.3.2", path = "../bun" }
proto_core = { version = "0.4.1", path = "../core" }
proto_deno = { version = "0.3.2", path = "../deno" }
proto_go = { version = "0.3.2", path = "../go" }
proto_node = { version = "0.3.2", path = "../node" }
proto_rust = { version = "0.1.1", path = "../rust" }
async-recursion = "1.0.2"
clap = { workspace = true, features = ["derive"] }
clap_complete = { workspace = true }
dirs = "4.0.0"
env_logger = "0.10.0"
futures = "0.3.27"
human-sort = "0.2.2"
indicatif = "0.17.3"
log = { workspace = true }
reqwest = { workspace = true, features = ["stream"] }
rustc-hash = { workspace = true }
semver = "1.0.17"
tokio = { workspace = true }

[target.'cfg(windows)'.dependencies]
winreg = "0.11.0"

[dev-dependencies]
assert_cmd = "2.0.8"
assert_fs = { workspace = true }
predicates = "2.1.5"
