[package]
name = "proto_cli"
version = "0.43.0"
edition = "2021"
license = "MIT"
description = "A multi-language version manager, a unified toolchain."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"
keywords = [
    "language",
    "installer",
    "version-manager",
    "dependency-manager",
    "package-manager",
]
categories = ["development-tools"]
readme = "../../README.md"
default-run = "proto"

[package.metadata.release]
pre-release-replacements = [
    { file = "../../version", search = "^(.+)$", replace = "{{version}}" },
    { file = "../../CHANGELOG.md", search = "Unreleased", replace = "{{version}}" },
]

[[bin]]
name = "proto"
path = "src/main.rs"

[[bin]]
name = "proto-shim"
path = "src/main_shim.rs"

[dependencies]
proto_core = { version = "0.43.8", path = "../core", features = ["clap"] }
proto_installer = { version = "0.8.0", path = "../installer" }
proto_pdk_api = { version = "0.24.5", path = "../pdk-api" }
proto_shim = { version = "0.5.0", path = "../shim" }
system_env = { version = "0.6.1", path = "../system-env" }
anyhow = { workspace = true }
async-trait = { workspace = true }
chrono = "0.4.38"
clap = { workspace = true, features = ["derive", "env"] }
clap_complete = { workspace = true }
clap_complete_nushell = "4.5.4"
comfy-table = "7.1.3"
dialoguer = "0.11.0"
dirs = { workspace = true }
indexmap = { workspace = true }
indicatif = { version = "0.17.9", features = ["improved_unicode"] }
miette = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true, features = ["rustls-tls-native-roots"] }
rustc-hash = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
starbase = { workspace = true }
starbase_shell = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true }
sysinfo = { version = "0.32.1", default-features = false, features = [
    "system",
] }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

# For the shim binary
rust_json = "0.1.5"
sigpipe = "0.1.3"

# For extism/wastime
extism = "1.9.1"
wasmtime = "~26.0.1"
wasi-common = "~26.0.1"
wiggle = "~26.0.1"

[dev-dependencies]
starbase_sandbox = { workspace = true }
shared_child = "1.0.1"

[target."cfg(windows)".dependencies]
winreg = { version = "0.52.0", default-features = false }
