[package]
name = "proto_shim"
version = "0.2.2"
edition = "2021"
license = "MIT"
description = "Utilities for working with proto shims."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
command-group = "5.0.1"
dirs = { workspace = true }
