[package]
name = "proto_shim"
version = "0.5.0"
edition = "2021"
license = "MIT"
description = "Utilities for working with proto shims."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
dirs = { workspace = true }

[target."cfg(windows)".dependencies]
process-wrap = { version = "8.2.0", default-features = false, features = [
	"std",
	"job-object",
] }
