[package]
name = "proto_pdk_test_utils"
version = "0.13.0"
edition = "2021"
license = "MIT"
description = "Utilities for testing proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_core = { version = "0.25.2", path = "../core" }
proto_pdk_api = { version = "0.11.2", path = "../pdk-api" }
extism = { workspace = true }
serde_json = { workspace = true }
toml = { version = "0.8.8", optional = true }

[features]
default = []
schema = ["dep:toml"]
