[package]
name = "proto_pdk_test_utils"
version = "0.8.5"
edition = "2021"
license = "MIT"
description = "Utilities for testing proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_core = { version = "0.20.4", path = "../core" }
proto_pdk_api = { version = "0.8.2", path = "../pdk-api" }
proto_wasm_plugin = { version = "0.7.3", path = "../wasm-plugin" }
extism = { workspace = true }
serde_json = { workspace = true }
toml = { version = "0.8.2", optional = true }

[features]
default = []
schema = ["dep:toml"]
