[package]
name = "proto_pdk_test_utils"
version = "0.17.3"
edition = "2021"
license = "MIT"
description = "Utilities for testing proto WASM plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_core = { version = "0.29.3", path = "../core" }
proto_pdk_api = { version = "0.15.1", path = "../pdk-api" }
warpgate = { version = "0.10.3", path = "../warpgate" }
extism = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
toml = { version = "0.8.8", optional = true }

[features]
default = []
schema = ["dep:toml"]
