[package]
name = "proto_codegen"
version = "0.0.1"
edition = "2021"
license = "MIT"
publish = false

[package.metadata.dist]
dist = false

[dependencies]
proto_pdk_api = { version = "0.17.4", path = "../pdk-api", features = [
	"schematic",
] }
schematic = { workspace = true }
