[package]
name = "proto_codegen"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

[package.metadata.dist]
dist = false

[dependencies]
proto_pdk_api = { version = "0.19.1", path = "../pdk-api", features = [
	"schematic",
] }
schematic = { workspace = true }
