[package]
name = "warpgate_api"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "APIs for working with Warpgate plugins."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
serde = { workspace = true }
