[package]
name = "proto_core"
version = "0.23.2"
edition = "2021"
license = "MIT"
description = "Core proto APIs."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_pdk_api = { version = "0.10.4", path = "../pdk-api" }
version_spec = { version = "0.1.5", path = "../version-spec" }
warpgate = { version = "0.5.14", path = "../warpgate" }
cached = { workspace = true }
extism = { workspace = true }
human-sort = { workspace = true }
miette = { workspace = true }
minisign-verify = "0.2.1"
once_cell = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
starbase_archive = { workspace = true }
starbase_events = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true, features = ["fs-lock"] }
thiserror = { workspace = true }
tinytemplate = "1.2.1"
tracing = { workspace = true }
url = "2.4.1"

[dev-dependencies]
starbase_sandbox = { workspace = true }
tokio = { workspace = true }
