[package]
name = "proto_core"
version = "0.25.2"
edition = "2021"
license = "MIT"
description = "Core proto APIs."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
proto_pdk_api = { version = "0.11.2", path = "../pdk-api" }
system_env = { version = "0.1.8", path = "../system-env", features = [
	"schematic",
] }
version_spec = { version = "0.1.7", path = "../version-spec", features = [
	"schematic",
] }
warpgate = { version = "0.7.0", path = "../warpgate", features = ["schematic"] }
cached = { workspace = true }
extism = { workspace = true }
human-sort = { workspace = true }
miette = { workspace = true }
minisign-verify = "0.2.1"
once_cell = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
schematic = { workspace = true, features = [
	"config",
	"toml",
	"type_serde_json",
	"type_serde_toml",
] }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
starbase_archive = { workspace = true }
starbase_events = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true, features = ["fs-lock"] }
tera = "1.19.1"
thiserror = { workspace = true }
tracing = { workspace = true }
url = "2.5.0"

[dev-dependencies]
starbase_sandbox = { workspace = true }
tokio = { workspace = true }
