[package]
name = "proto_core"
version = "0.10.1"
edition = "2021"
license = "MIT"
description = "Core proto APIs for languages to implement."
homepage = "https://moonrepo.dev/proto"
repository = "https://github.com/moonrepo/proto"

[dependencies]
async-trait = "0.1.68"
cached = { workspace = true }
convert_case = { workspace = true }
dirs = "5.0.1"
flate2 = "1.0.26"
fs4 = { version = "0.6.4", features = ["sync"] }
human-sort = "0.2.2"
lenient_semver = { version = "0.4.2", default-features = false, features = ["version_lite"] }
miette = { workspace = true }
reqwest = { workspace = true }
rustc-hash = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = "0.10.6"
starbase_styles = "0.1.8"
starbase_utils = { workspace = true }
tar = "0.4.38"
tinytemplate = "1.2.1"
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
xz2 = "0.1.7"
zip = "0.6.6"

[dev-dependencies]
starbase_sandbox = { workspace = true }
