# Bump!

name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    name: Format
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          components: rustfmt
      - run: cargo fmt --all --check
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          components: clippy
      - run: cargo clippy --workspace --all-targets
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          bins: cargo-wasi, cargo-nextest
      - run: cargo wasi build -p proto_test_plugin
        if: ${{ runner.os != 'Windows' }}
      - run: cargo nextest run --workspace
        if: ${{ runner.os != 'Windows' }}
      - run: cargo nextest run --workspace --exclude proto_wasm_plugin
        if: ${{ runner.os == 'Windows' }}
