# Bump!

name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    name: Format
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          components: rustfmt
      - run: cargo fmt --all --check
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          components: clippy
      - run: cargo clippy --workspace --all-targets
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          bins: cargo-wasi, cargo-nextest
      - run: |
          cd plugins;
          cargo wasi build -p proto_wasm_test;
          rm -rf target/debug;
          rm -rf target/wasm32-wasi/debug/.fingerprint;
          rm -rf target/wasm32-wasi/debug/build;
          rm -rf target/wasm32-wasi/debug/deps;
      - run: cargo nextest run --workspace --exclude proto_pdk
  run:
    name: Run
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: moonrepo/setup-rust@v0
        with:
          bins: cargo-wasi
      - run: cd plugins && cargo wasi build -p proto_wasm_test
      - run: cargo run -- --help
      - run: cargo run -- list-remote node
      - run: cargo run -- list-remote wasm-test
